<div class="container">
    <p-table>
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Ocorrencia {{ocorrencia?.id}}</h5>
            </div>
        </ng-template>
    </p-table>

</div>

<div class="container" style="margin-top: 15px;">

    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
            <th>Cliente - {{cliente?.nome}}</th>
        </div>
    </div>

    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
            <th>Numero Processo - {{ocorrencia?.numeroProcesso}}</th>
        </div>
    </div>

    <!-- <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
            <th>Prestador empenhado - </th>
        </div>
    </div> -->
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
            <th>Status - {{ocorrencia?.status}}</th>
        </div>
    </div>

    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
            <th>Motivo - {{ocorrencia?.motivo}}</th>
        </div>
    </div>


    <div class="card" *ngFor="let chat of chats">
        <p-divider align="center" type="dashed">
            <div class="p-d-inline-flex p-ai-center">
                <i class="pi pi-user p-mr-2"></i>
                <b *ngIf="chat.user!.tipoTenancy == 0">Open Code - {{chat.createdAt | date : 'dd/MM/yyyy HH:mm'}}</b>
                <b *ngIf="chat.user!.tipoTenancy == 1">Central - {{chat.createdAt | date : 'dd/MM/yyyy HH:mm'}}</b>
                <b *ngIf="chat.user!.tipoTenancy == 2">Cliente - {{chat.createdAt | date : 'dd/MM/yyyy HH:mm'}}</b>
                <b *ngIf="chat.user!.tipoTenancy == 3">Prestador - {{chat.createdAt | date : 'dd/MM/yyyy HH:mm'}}</b>
            </div>
        </p-divider>
        
        <p *ngIf="chat.text">
            {{chat.text}}
        </p>

        <p *ngIf="chat.image">
            <img style="object-fit:contain;
            width:300px;
            height:400px;
            margin-left: 385px;" loading="lazy" [src]="chat.image">
        </p>

        <p *ngIf="chat.audio">
            <audio controls>
                <source [src]="chat.audio" type="audio/aac">
            </audio>
        </p>
    </div>

    <!-- *ngIf="validaMensagem(chat.idOcorrencia)" -->

    <p-divider></p-divider>

    <div class="p-fluid p-formgrid p-grid ">
        <div class="p-field p-col">
            <label>Digite sua mensagem</label>
            <textarea name="mensagem" [rows]="5" [cols]="30" pInputTextarea id="mensagem"
                [(ngModel)]="mensagemEnviar"></textarea>
        </div>

    </div>

    <div class="p-field p-col-2">
        <button pButton pRipple label="Enviar" icon="pi pi-check" class="p-button-success"
            (click)="enviarMensagem()"></button>
            <p-divider></p-divider>

                    <p-fileUpload 
                        mode="basic"
                        [auto]="true" 
                        [customUpload]="true"
                        (uploadHandler)="onUpload($event)"
                        accept="image/*"
                        chooseLabel="Enviar imagem" >
                    </p-fileUpload>
             
        
    </div>
    
    <p-divider></p-divider>

    <div class="p-field p-col-2">
        <button pButton pRipple label="Encerrar ocorrencia" icon="pi pi-check" class="p-button-danger"
            (click)="encerrar()"></button>
    </div>

    <p-divider align="center" type="dashed">
        <div class="p-d-inline-flex p-ai-center">
            <b>Localização do prestador</b>
        </div>
    </p-divider>

    <div *ngIf="localizacao.latitude != 0">
        <agm-map [zoom]="15" [latitude]="localizacao!.latitude" [longitude]="localizacao!.longitude">
            <agm-marker [latitude]="localizacao!.latitude" [longitude]="localizacao!.longitude"></agm-marker>
            <agm-direction [visible]="rota" [origin]="origem" [destination]="destino"  [markerOptions]="markerOptions" [renderOptions]="renderOptions" >
            </agm-direction>
        </agm-map>
        <p-divider align="center" type="dashed">
        </p-divider>
        <div class="p-field p-col-2">
            <button *ngIf="!rota" pButton pRipple label="Exibir rota" icon="pi pi-directions" class="p-button-success" (click)="exibirRota()"></button>
            <button *ngIf="rota" pButton pRipple label="Ocultar rota" icon="pi pi-directions" class="p-button-success" (click)="exibirRota()"></button>
        </div>
    </div>


</div>

<p-confirmDialog [style]="{width: '50vw'}" key="positionDialog" [position]="position" [baseZIndex]="10000"
    acceptLabel="SIM" acceptButtonStyleClass="p-button-success" rejectLabel="NÃO"
    rejectButtonStyleClass="p-button-danger">
</p-confirmDialog>

<p-toast position="top-right"></p-toast>