<div class="container">
    <p-table>
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Ocorrencia {{ocorrencia?.id}}</h5>
            </div>
        </ng-template>
    </p-table>

</div>

<div class="container" style="margin-top: 15px;">

    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
            <th>Cliente - {{cliente?.nome}}</th>
        </div>
    </div>

    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
            <th>Numero Processo - {{ocorrencia?.numeroProcesso}}</th>
        </div>
    </div>

    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
            <th>Prestador empenhado - </th>
        </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
            <th>Status - {{ocorrencia?.status}}</th>
        </div>
    </div>

    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
            <th>Motivo - {{ocorrencia?.motivo}}</th>
        </div>
    </div>


    <!-- <div class="card" *ngFor="let item of interacaoOcorrencia">
        <p-divider align="center" type="dashed">
            <div class="p-d-inline-flex p-ai-center">
                <i class="pi pi-user p-mr-2"></i>
                <b *ngIf="item.tipoTenancy?.id == 1">Central - {{item.dataHora | date : 'dd/MM/yyyy HH:mm'}}</b>
                <b *ngIf="item.tipoTenancy?.id == 2">Cliente - {{item.dataHora | date : 'dd/MM/yyyy HH:mm'}}</b>
                <b *ngIf="item.tipoTenancy?.id == 3">Prestador - {{item.dataHora | date : 'dd/MM/yyyy HH:mm'}}</b>
            </div>
        </p-divider>
        <p>
            {{item.mensagem}}
        </p>
    </div> -->

    <div class="card" *ngFor="let chat of chats" >
        <p-divider align="center" type="dashed">
            <div class="p-d-inline-flex p-ai-center">
                <i class="pi pi-user p-mr-2"></i>
                <b *ngIf="chat.tipoTenancy == 0">Open Code - {{chat.dataHora | date : 'dd/MM/yyyy HH:mm'}}</b>
                <b *ngIf="chat.tipoTenancy == 1">Central - {{chat.dataHora | date : 'dd/MM/yyyy HH:mm'}}</b>
                <b *ngIf="chat.tipoTenancy == 2">Cliente - {{chat.dataHora | date : 'dd/MM/yyyy HH:mm'}}</b>
                <b *ngIf="chat.tipoTenancy == 3">Prestador - {{chat.dataHora | date : 'dd/MM/yyyy HH:mm'}}</b>
            </div>
        </p-divider>
        <p *ngIf="validaMensagem(chat.idOcorrencia)">
            {{chat.mensagem}}
        </p>
    </div>

    <!-- *ngIf="validaMensagem(chat.idOcorrencia)" -->

    <p-divider></p-divider>

    <div class="p-fluid p-formgrid p-grid ">
        <div class="p-field p-col">
            <label>Digite sua mensagem</label>
            <textarea name="mensagem" [rows]="5" [cols]="30" pInputTextarea id="mensagem" [(ngModel)]="mensagem"></textarea>
        </div>

    </div>

    <div class="p-field p-col-2">
        <button pButton pRipple label="Enviar" icon="pi pi-check" class="p-button-success" (click)="salvarMensagem()"></button>
    </div>
    
</div>

<p-toast position="top-right"></p-toast>