<div class="container">
    <p-table>
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Cadastro de Clientes</h5>
            </div>
        </ng-template>
    </p-table>
</div>

<div class="container" style="margin-top: 15px;">

    <form id="novo-cliente" autocomplete="off" #cliente="ngForm" (ngSubmit)="salvar(cliente)">

        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="nomePrestador">Nome</label>
                <input type="text" name="nome" pInputText id="nomePrestador" #nome="ngModel" ngModel required />
                <small class="p-error" *ngIf="nome.hasError('required') && nome.dirty">* O campo Nome é
                    obrigatório.</small>
            </div>
        </div>

        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="rg">Nome Responsável</label>
                <input type="text" name="nomeResponsavel" pInputText id="nomeResponsavel" #nomeResponsavel="ngModel"
                    ngModel required />
                <small class="p-error" *ngIf="nomeResponsavel.hasError('required') && nomeResponsavel.dirty">* O campo
                    Nome é obrigatório.</small>
            </div>
        </div>

        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="rg">Informações do Contrato</label>
                <input type="text" name="informacaoContrato" pInputText id="informacaoContrato"
                    #informacaoContrato="ngModel" ngModel required />
                <small class="p-error" *ngIf="informacaoContrato.hasError('required') && informacaoContrato.dirty">* O
                    campo Nome é obrigatório.</small>
            </div>
        </div>

        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="tipoPessoa">Tipo Pessoa</label>
                <p-dropdown [options]="tipoPessoa" name="tipoPessoa" placeholder="Selecione"
                    [(ngModel)]="tipoPessoaSelecionada" (onChange)="tipoPessoaChange($event)"></p-dropdown>
            </div>

            <div class="p-field p-col" *ngIf="tipoPessoaSelecionada == 1">
                <label for="cpf">CPF</label>
                <p-inputMask id="cpf" name="cpf" mask="999.999.999-99" ngModel [required]="true" #cpf="ngModel">
                </p-inputMask>
                <small class="p-error" *ngIf="cpf.hasError('required') && cpf.dirty">* O campo CPF é
                    obrigatório.</small>
                <small class="p-error" *ngIf="!validaDocumento(cpf.value, 1)">*CPF invalido.</small>
            </div>

            <div class="p-field p-col" *ngIf="tipoPessoaSelecionada == 2">
                <label for="cpf">CNPJ</label>
                <p-inputMask id="cpf" name="cnpj" mask="99.999.999/9999-99" ngModel [required]="true" #cnpj="ngModel">
                </p-inputMask>
                <small class="p-error" *ngIf="cnpj.hasError('required') && cnpj.dirty">* O campo CPF é
                    obrigatório.</small>
                    <small class="p-error" *ngIf="!validaDocumento(cnpj.value, 2)">*CPF invalido.</small>
            </div>

            <div class="p-field p-col" *ngIf="tipoPessoaSelecionada == 2">
                <label for="numInscricaoEstadual">Inscrição Estatudal</label>
                <p-inputNumber id="numInscricaoEstadual" name="numInscricaoEstadual" mode="decimal"
                    [useGrouping]="false" ngModel></p-inputNumber>
            </div>

        </div>

        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field  p-col-9">
                <label for="name">Endereço</label>
                <input type="text" name="endereco" pInputText id="endereco" [(ngModel)]="endereco.logradouro" />
            </div>
            <div class="p-field  p-col-3">
                <label for="numero">Número</label>
                <input type="text" name="numero" pInputText id="numero" ngModel />
            </div>
        </div>

        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-5">
                <label for="cidade">Cidade</label>
                <input type="text" name="cidade" pInputText id="cidade" [(ngModel)]="endereco.cidade" />
            </div>

            <div class="p-field p-col-4">
                <label for="bairro">Bairro</label>
                <input type="text" name="bairro" pInputText id="bairro" [(ngModel)]="endereco.bairro" />
            </div>

            <div class="p-field p-col-2">
                <label for="cep">CEP</label>
                <p-inputMask #cep id="cep" name="cep" mask="99999-999" (onBlur)="buscaCep(cep.value)" ngModel>
                </p-inputMask>
            </div>

            <div class="p-field p-col">
                <label for="estado">Estado</label>
                <input type="text" name="estado" pInputText id="estado" [(ngModel)]="endereco.estado" />
            </div>
        </div>

        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="banco">Banco</label>
                <p-dropdown [options]="listaBancos" [(ngModel)]="bancoSelecionado" optionLabel="banco"
                    [showClear]="true" (onChange)="bancoChange($event)" placeholder="Selecione">
                    <ng-template let-banco pTemplate="item">
                        <div>{{banco.banco}} - {{banco.codigo}}</div>
                    </ng-template>
                </p-dropdown>
            </div>

            <div class="p-field p-col">
                <label for="agencia">Agência</label>
                <input type="text" id="agencia" name="agencia" pInputText ngModel />
            </div>

            <div class="p-field p-col">
                <label for="conta">Conta</label>
                <input type="text" id="conta" name="conta" pInputText ngModel />
            </div>
        </div>

        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-3">
                <label for="telefone">Telefone</label>
                <p-inputMask id="telefone" name="telefone" mask="(99) 99999-9999" ngModel></p-inputMask>
            </div>

            <div class="p-field p-col">
                <label for="email">E-mail</label>
                <input type="text" name="email" pInputText id="email" ngModel>
            </div>
        </div>

        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="email">Observações</label>
                <textarea name="observacoes" [rows]="5" [cols]="30" pInputTextarea ngModel></textarea>
            </div>
        </div>


        <p-divider></p-divider>

        <div class="p-fluid p-formgrid p-grid  p-jc-end">
            <div class="p-field p-col-2">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-danger"
                    (click)="cancelar()"></button>
            </div>

            <div class="p-field p-col-2">
                <button pButton pRipple label="Salvar" icon="pi pi-check" [disabled]="!cliente.valid"
                    class="p-button-success"></button>
            </div>
        </div>

    </form>

</div>

<p-toast position="top-right"></p-toast>