<nav class="navbar-class">
  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <p-menubar [model]="items">
          <ng-template pTemplate="start">
              <!--<img src="/assets/svg/logo.svg" height="50" class="p-mr-2">-->
          </ng-template>
          <ng-template pTemplate="end">            
            <button #btn type="button" class="p-button-success" pButton icon="pi pi-user" label="{{usuarioLogado.nome_usuario}}" (click)="menu.toggle($event)"></button>
            <p-tieredMenu #menu [model]="userMenuItens" [popup]="true"></p-tieredMenu>
        </ng-template>
      </p-menubar>
      </div>
    </div>
  </div>
</nav>
