<p-table #dt [value]="ocorrencias" [rows]="10" [paginator]="ocorrencias.length > 0" [rowHover]="true" dataKey="id">

    <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
            <h5 class="p-m-0">Lista de ocorrências</h5>
            <span class="p-input-icon-left">
              <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
            </span>
        </div>
    </ng-template>

    <ng-template pTemplate="header" >
        <tr>
            <th pSortableColumn="id" style="text-align: center;">Numero<p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="status" style="text-align: center;">Status <p-sortIcon field="status"></p-sortIcon></th>
            <th pSortableColumn="nome" style="text-align: center;">Abertura <p-sortIcon field="nome"></p-sortIcon></th>
            <th pSortableColumn="nome" style="text-align: center;">Fechamento <p-sortIcon field="nome"></p-sortIcon></th>
            <th style="text-align: center;">Ações</th>
          </tr>
    </ng-template>

    <ng-template pTemplate="body" let-ocorrencia *ngIf="!ocorrencias.length">
        <tr>
            <td style="text-align: center;">{{ocorrencia.idOcorrencia}}</td>
            <td style="text-align: center;">{{ocorrencia.statusOcorrencia}}</td>
            <td style="text-align: center;">14/05/2021</td>
            <td style="text-align: center;">14/05/2021</td>
            <td style="text-align: center;" >
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" ></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" ></button>
            </td>
        </tr>
    </ng-template>

</p-table>