<div class="container">
    <p-table>
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Cadastro de usuarios</h5>        
            </div>
        </ng-template>
    </p-table>
</div>

<div class="container" style="margin-top: 15px;">
   <form id="novo-cliente" autocomplete="off" #usuario="ngForm" (ngSubmit)="salvar(usuario)">

        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="nome">Nome</label>
                <input type="text" name="nome" pInputText id="nome" #nome="ngModel" autofocus ngModel required />
                <small class="p-error" *ngIf="nome.hasError('required') && nome.dirty">* O campo Nome é obrigatório.</small>                
            </div>        
        </div>

        <div class="p-fluid p-formgrid p-grid">
            
            <div class="p-field p-col">
                <label for="email">E-mail</label>              
                <input type="text" name="email" pInputText id="email" ngModel #email="ngModel" email required>
                <small class="p-error" *ngIf="email.hasError('required') && email.dirty">* O campo Nome é obrigatório.</small> 
                <small class="p-error" *ngIf="email.hasError('email') && email.dirty">* Informe um email válido.</small>   
            </div>

            <div class="p-field p-col">
                <label for="telefone">Senha</label>
                <input type="password" pInputText ngModel name="password" #password="ngModel" required>
                <small class="p-error" *ngIf="password.hasError('required') && password.dirty">* O campo Senha é obrigatório.</small>
            </div>     
        </div>

        

        <p-divider></p-divider>
    
        <div class="p-fluid p-formgrid p-grid  p-jc-end">
            <div class="p-field p-col-2">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-danger"></button> 
            </div>  
    
            <div class="p-field p-col-2">
                <button pButton pRipple label="Salvar" icon="pi pi-check" [disabled]="!usuario.valid" class="p-button-success"></button> 
            </div>       
        </div>

   </form>
</div>

    
