<div class="container" style="margin-top:15px;">
    <div class="p-grid vertical-container">  
        <div class="p-col-4 p-as-center">

        </div>          
        <div class="p-col-4 p-as-center">
            <div class="box">
                <form id="novo-cliente" autocomplete="off" #cliente="ngForm">
                    <p-card>
                        <ng-template pTemplate="header">
                            <p-table>
                                <ng-template pTemplate="caption">
                                    <div class="p-d-flex p-ai-center p-jc-between">
                                        <h5 class="p-m-0">OnSystem - Faça seu Login</h5>        
                                    </div>
                                </ng-template>
                            </p-table>
                        </ng-template>
                            
                            <div class="p-col-12 p-d-flex-12  p-ai-center p-jc-center">
                                <div class="p-fluid">
                                    <div class="p-field">
                                        <label for="username">Usuário</label>
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                                            <input type="text" pInputText ngModel name="username" #username="ngModel" placeholder="Username">         
                                        </div>
                                    </div>
                                    <div class="p-field">
                                        <label for="password">Senha</label>
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon"><i class="pi pi-ellipsis-h"></i></span>
                                            <input type="password" pInputText ngModel name="password" #password="ngModel" placeholder="Senha">         
                                        </div>
                                    </div>
                                    <div class="p-field">
                                        <button pButton pRipple label="Entrar"  class="p-button-success"></button>
                                    </div>
                                    
                                    <div class="p-field">
                                        <button pButton pRipple label="Esqueci a Senha" class="p-button-danger"></button> 
                                    </div>
                                </div>
                            </div>                            
                    </p-card>
                </form> 
            </div>
        </div>  
        <div class="p-col-4 p-as-center">
            
        </div>          
    </div>
</div>



