<p-table #dt [value]="prestadores" [rows]="10" [paginator]="prestadores.length > 0" [loading]="loading"  *ngIf="prestadores"  [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Cadastro de Prestadores</h5>
                <span class="p-input-icon-left">
                  <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="novoPrestador()"></button>
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header" >
            <tr>
                <th  style="text-align: center; width: 350px;">Nome </th>
                <th  style="text-align: center; ">CPF/CNPJ</th>
                <th style="text-align: center;">Email</th>
                <th style="text-align: center; width: 10px;">Status</th>
                <th style="text-align: center;">Ações</th>
              </tr>
        </ng-template>
        <ng-template pTemplate="body" let-prestador *ngIf="!prestadores.length">
            <tr>
                <td style="text-align: center;">{{prestador.nome}}</td>
                <td style="text-align: center;">{{prestador.cpfCnpj}}</td>
                <td style="text-align: center;">{{prestador.email}}</td>
                <td style="text-align: center;">{{prestador.situacao}}</td>                
                <td style="text-align: center;" >
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editar(prestador)" ></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deletar(prestador)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-table *ngIf="!prestadores">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h6 class="p-m-0">Nenhum prestador encontrado</h6>        
            </div>
        </ng-template>
    </p-table>


<p-confirmDialog 
        [style]="{width: '50vw'}" 
        key="positionDialog" 
        [position]="position" 
        [baseZIndex]="10000" 
        acceptLabel="SIM"
        acceptButtonStyleClass="p-button-success"
        rejectLabel="NÃO"
        rejectButtonStyleClass="p-button-danger">
</p-confirmDialog>
<p-toast position="top-right" (onClose)="reload()"></p-toast>